
  a:link, a:visited,  a:hover, a:active{
    color: #fafafa;
    text-decoration: none;
    }

  .footer {
    background-image: linear-gradient(to right, #162f3e, #247da9);
    margin-top: auto;
    display: table;
    width: 100%;
    height: 15%;
    text-align: center;
    padding: 1.5rem 0;
    bottom: 0rem;
  }
  
