:root{
    /*COLORES*/
    --colorgrisazulado1:#3e4144;
    --colorgrisazulado2:#45484a;
    --colorgrisazulado3:#474b4e;
    --colorgrisazulado4:#535b61;
    --colorgrisazulado5:#65727c;
  
  }